*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-bottom: 1%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeçario{
    margin-left: 10px;
    display: inline;
}

#N1, #N2, #N3, #N4, #N5, #N6, #N7 {
    position: relative;
    color: rgb(150, 150, 150);
}

#N1{
    background-color: rgb(33, 173, 255);
    padding: 1% 1%;
    color: white;
}

.primeiraParte{
    background-image: url(imagens/img1.jpg);
    background-size: cover;
    background-repeat: none;
    color: white;
}

#tituloMaior{
    font-size: 400%;
    padding: 3% 0% 1% 10%;
}

#introducao{
    font-size: 130%;
    padding: 0% 0% 5% 10%;
}
.linhas{
    display: flex;
    margin-left: 10%;
}

#LT1{
    width: 29.4%;
    border: 2px solid;
    position: relative;
    top: 3px;
}

#LT2, #LT3{
    width: 29.4%;
}

.NumerosTitulo{
    margin-left: 10%;
    margin-bottom: 1%;
}

#NT1{
    display: inline-block;
    font-size: 90%;
    margin-top: 0.3%;
}

#NT2{
    display: inline-block;
    margin-left: 28.6%;
    font-size: 90%;
}

.Quadrados{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
}

.Quadrado1{
    background-color: rgb(43, 175, 236);
    width: 34%;
}

.Quadrado2{
    background-color: rgb(20, 125, 173);
    width: 34%;
}

.Quadrado3{
    background-color: rgb(34, 90, 153);
    width: 34%;
}

.TQ{
    padding: 4% 0% 0% 4%;
    font-size: 200%;
}

.PQ{
    padding: 3% 19% 0% 4%;
    font-size: 120%;
}

.ReadMore{
    margin: 5% 0% 8% 4%;
    padding: 1%;
    background-color: rgb(43, 175, 236);
    border: 1px solid white;
    color: white;
}

#B2{
    background-color: rgb(20, 125, 173);
}

#TituloHoras{
    padding: 4% 0% 0% 4%;
    font-size: 200%;
}

.Day{
    padding: 3% 0% 2% 4%;
    display: inline-block;
}

.Hours{
    display: inline-block;  
    margin-left: 47%;
}

.Hours2{
    display: inline-block;
    margin-left: 60%;
}

.Hours3{
    display: inline-block;
    margin-left: 62%;
}

.LinhaAzul{
    margin-left: 4.2%;
    width: 92.5%;
    border: 1px solid rgb(21, 144, 201);
}

#News{
    margin: 3.6% 0% 0.7% 3.7%;
}

#AreaNoticia{
    display: flex;
    flex-wrap: wrap;
}

.LineTitle{
    width: 5.3%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

.DayJan{
    background-color: rgb(30, 30, 190);
    color: white;
    padding: 2%;
    display: inline-block;
    margin: 1.2% 0% 2% 0%;
    position: relative;
    font-size: 80%;
}

.Day2{
    background-color: rgb(22, 166, 255);
    color: white;
    display: inline-block;
    padding: 2%;
    position: relative;
    right: 0.1%;
    font-size: 80%;
}

.DayJan::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(30, 30, 190);
    top: 20px;
    left: 0px;
}

.medico{
    margin: 5% 0% 1% 0%;
    width: 100%;
}

.TituloDaNoticia{
    margin: 0% 0% 5% 0%;
    font-size: 200%;
}

.DescricaoNoticia{
    font-size: 100%;
    color: rgb(95, 95, 95);
}

.Noticias{
    width: 44.4%;
    padding-bottom: 3%;
    margin: 2% 0% 1% 4%;
}

#PrimeiraColuna{
    margin-left: 7.8%;
    display: inline-block;
    width: 59%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

#TituloDep{
    margin: 3.6% 0% 0.7% 3.2%;
}

#LineDep{
    width: 9%;
    margin: 0% 3.4%;
    border: 1px solid rgb(0, 174, 255);
}

#containerbox{
    margin-left: 0.4%;
    margin-bottom: 0%;
}

.box{
    content: "";
    width: 32%;
    height: 23vh;
    background-color: rgb(22, 166, 255);
    margin: 2% 0% 2% 3%;
    display: inline-block;
}

#SegundaParte{
    display: flex;
}

#SegundaColuna{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#Make{
    margin: 2% 0% 0.5% 3.6%;
}

#Consulta{
    margin-top: 1%;
    width: 74%;
}

#LineCon{
    width: 12%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

#DescConsulta{
    margin: 2% 0% 5% 3.6%;
}

.GrayLine{
    width: 92%;
    margin: 0% 0% 2% 3.7%;
}

.icon{
    margin-left: 3.7%;
    width: 5%;
    display: inline-block;
}

.by{
    display: inline-block;
    margin-left: 0.3%;
}

.Contato{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 190);
}

footer{
    background-color: black;
    color: white;
}

.TSB{
    padding: 4% 0% 2% 4%;
}

.DSB{
    padding: 0% 0% 4% 4%;
}

.UltimasInf{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    border: 2px solid white;
    padding-bottom: 3%;
}

.TFinal{
    margin: 5% 0% 1.5% 3.7%;
    border: 2px solid white;
}

#LineMedi{
    width: 11%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

.DFinal{
    margin: 3% 0% 0% 3.7%;
    color: rgb(81, 81, 81);
    font-size: 90%;
}

#Endereco{
    width: 50%;
}

.NumEmai{
    padding-top: 13%;
}

.iconsfooter{
    margin-left: 3%;
    margin-top: 2%;
}

.icon2{
    margin-left: 0.7%;
    width: 5%;
    display: inline-block;
}

.TFinal2{
    margin: 5% 0% 0% 3.7%;
    padding-right: 40%;
    padding-bottom: 0%;
    height: 3.5vh;
}

.Setas{
    margin: 5% 0% 0% 12%;
    padding-right: 10%;
    display: flex;
    height: 4vh;
}

.Seta1{
    padding: 0% 30%;
    height: 4vh;
    margin-left: 10%;
    background-color: black;
    color: white;
    border: 0.1vh solid rgb(129, 129, 129);
}

.Seta2{
    padding: 0% 30%;
    height: 4vh;
    margin-left: 10%;
    background-color: black;
    color: white;
    border: 0.1vh solid rgb(129, 129, 129);
}

.LineFooter{
    width: 10%;
    height: 0vh;
    margin-left: 3.7%;
    margin-right: 17%;
    border: 1px solid rgb(0, 174, 255);
    position: relative;
    bottom: 2%;
}

.Squares{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%; 
}

.SetaD{
    display: inline-block;
    position: relative;
    bottom: 30%;
}

.DesPo{
    display: inline-block;
}

.escrita{
    border: 1px solid white;
    margin-left: 3.7%;
    margin-right: 25%;  
}

.months{
    font-size: 70%;
    padding-left: 3%;
    color: rgb(0, 174, 255);
}

#LineTweets{
    margin-top: 2%;
}