*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-bottom: 1%;
}

ul{
    width: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 10%;
}

.navegar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.menu{
    display: none;
}

.cabeçario{
    list-style-type: none;
}

#N1, #N2, #N3, #N4, #N5, #N6, #N7 {
    position: relative;
    color: rgb(150, 150, 150);
    cursor: pointer;
    font-size: 1vw;
}

#N1{
    background-color: rgb(33, 173, 255);
    padding: 1% 1%;
    color: white;
    
}

.primeiraParte{
    background-image: url(../imagens/img1.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    color: white;
}

#tituloMaior{
    font-size: 4vw;
    padding: 3% 0% 1% 10%;
}

#introducao{
    font-size: 1.1vw;
    padding: 0% 0% 5% 10%;
}
.linhas{
    display: flex;
    margin-left: 10%;
}

#LT1{
    width: 29.4%;
    border: 2px solid;
    position: relative;
    top: 3px;
}

#LT2, #LT3{
    width: 29.4%;
}

.NumerosTitulo{
    margin-left: 10%;
    margin-bottom: 1%;
}

#NT1{
    display: inline-block;
    font-size: 90%;
    margin-top: 0.3%;
}

#NT2{
    display: inline-block;
    margin-left: 28.6%;
    font-size: 90%;
}

.Quadrados{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
}

.Quadrado1{
    background-color: rgb(43, 175, 236);
    width: 34%;
}

.Quadrado2{
    background-color: rgb(12, 140, 199);
    width: 34%;
}

.Quadrado3{
    background-color: rgb(34, 90, 153);
    width: 34%;
}

.TQ{
    padding: 4% 0% 0% 4%;
    font-size: 1.7vw;
}

.PQ{
    padding: 3% 19% 0% 4%;
    font-size: 1vw;
}

.ReadMore{
    margin: 5% 0% 8% 4%;
    padding: 1%;
    background-color: rgb(43, 175, 236);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 0.7vw;
}

#B2{
    background-color: rgb(12, 140, 199);
}

#TituloHoras{
    padding: 4% 0% 2% 4%;
    font-size: 200%;
}

.Dia-Hora{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 2% 4%;
    margin-right: 5%;
}

.LinhaAzul{
    margin-left: 4.2%;
    margin-right: 5%;
    border: 1px solid rgb(21, 144, 201);
}

#News{
    margin: 3.6% 0% 0.7% 3.7%;
}

#AreaNoticia{
    display: flex;
    flex-wrap: wrap;
}

.LineTitle{
    width: 5.3%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

.DayJan{
    background-color: rgb(30, 30, 190);
    color: white;
    padding: 2%;
    display: inline-block;
    margin: 1.2% 0% 2% 0%;
    position: relative;
    font-size: 80%;
}

.Day2{
    background-color: rgb(22, 166, 255);
    color: white;
    display: inline-block;
    padding: 2%;
    position: relative;
    right: 0.1%;
    font-size: 80%;
}

.DayJan::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(30, 30, 190);
    top: 20px;
    left: 0px;
}

.medico{
    margin: 5% 0% 1% 0%;
    width: 100%;
}

.TituloDaNoticia{
    margin: 0% 0% 5% 0%;
    font-size: 200%;
}

.DescricaoNoticia{
    font-size: 100%;
    color: rgb(95, 95, 95);
}

.Noticias{
    width: 44.4%;
    padding-bottom: 3%;
    margin: 2% 0% 1% 4%;
}

#PrimeiraColuna{
    margin-left: 7.8%;
    display: inline-block;
    width: 59%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

#TituloDep{
    margin: 3.6% 0% 0.7% 3.2%;
}

#LineDep{
    width: 9%;
    margin: 0% 3.4%;
    border: 1px solid rgb(0, 174, 255);
}

#containerbox{
    margin-left: 0.4%;
    margin-bottom: 0%;
}

.box{
    content: "";
    width: 32%;
    height: 23vh;
    background-color: rgb(22, 166, 255);
    margin: 2% 0% 2% 3%;
    display: inline-block;
}

#SegundaParte{
    display: flex;
}

#SegundaColuna{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#Make{
    margin: 2% 0% 0.5% 3.6%;
}

#Consulta{
    margin-top: 1%;
    width: 74%;
}

#LineCon{
    width: 12%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

#DescConsulta{
    margin: 2% 0% 5% 3.6%;
}

.GrayLine{
    width: 92%;
    margin: 0% 0% 2% 3.7%;
}

.icon{
    margin-left: 3.7%;
    width: 5%;
    display: inline-block;
}

.by{
    display: inline-block;
    margin-left: 0.3%;
}

.Contato{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 190);
}

footer{
    background-color: black;
    color: white;
}

.TSB{
    padding: 4% 0% 2% 4%;
}

.DSB{
    padding: 0% 0% 4% 4%;
}

.UltimasInf{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    padding-bottom: 1%;
    padding-right: 1%;
    border: 2px solid white;
}

.TFinal{
    margin: 5% 0% 1.5% 3.7%;
    font-size: 1.3vw;
}

#LineMedi{
    width: 11%;
    margin: 0% 3.7%;
    border: 1px solid rgb(0, 174, 255);
}

.DFinal{
    margin: 3% 0% 0% 3.7%;
    color: rgb(81, 81, 81);
    font-size: 90%;
}

#Endereco{
    width: 50%;
}

.NumEmai{
    padding-top: 13%;
}

.iconsfooter{
    margin-left: 3%;
    margin-top: 2%;
}

.icon2{
    margin-left: 0.7%;
    width: 5%;
    display: inline-block;
    cursor: pointer;
}

.TFinal2{
    margin: 5% 0% 0% 3.7%;
    height: 3.5vh;
    font-size: 1.3vw;
    width: contain;
    grid-column-start: 2;
    grid-column-end: 3;
}

.juntando{
    display: grid;
    grid-template-columns: 3.7% 37% 38% 10% 1fr;
    grid-template-rows: 100%;
    width: 100%;
}

.Setas{
    margin: 12% 0% 0% 0%;
    padding-right: 9%;
    display: flex;
    height: 4vh;
    grid-column-start: 4;
    grid-column-end: 5;
}

.Seta1{
    padding: 0% 30%;
    height: 4vh;
    margin-left: 0%;
    background-color: black;
    color: white;
    border: 0.1vh solid rgb(129, 129, 129);
    cursor: pointer;
}

.Seta2{
    padding: 0% 30%;
    height: 4vh;
    margin-left: 3%;
    background-color: black;
    color: white;
    border: 0.1vh solid rgb(129, 129, 129);
    cursor: pointer;
}

.LineFooter{
    width: 10%;
    height: 0vh;
    margin-left: 5%;
    margin-right: 17%;
    border: 1px solid rgb(0, 174, 255);
    margin-bottom: 5%;
    margin-top: 1%;
}

.Squares{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%; 
}

.UltimasInf2{
    width: 34%;
    padding-bottom: 1%;
    padding-right: 1%;
    border: 1px solid white;
}

.SetaD{
    display: inline-block;
    margin-right: 1%;
}

.DesPo{
    display: inline-block;
}

.escrita{
    margin-left: 3.7%;
    margin-right: 0%; 
    padding-bottom: 4%;
    margin-bottom: 2%;
}

.parte1escrita{
    display: flex;
}

.months{
    font-size: 70%;
    padding-left: 3%;
    color: rgb(0, 174, 255);
    cursor: pointer;
}
#separarodape{
    margin: 0% 10%;
    color: rgb(17, 17, 17);
    border: 1px solid rgb(17, 17, 17);
}

#escritarodape{
    display: flex;
    margin: 0% 10%;
    height: 5vh;
    justify-content: space-between;
    color: rgb(68, 68, 68);
    align-items: center;
}

.color{
    color: white;
    padding: 0%;
}

span{
    color: white;
}

.Top{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}

#N2:hover, #N3:hover, #N4:hover, #N5:hover, #N6:hover, #N7:hover{
    background-color: rgb(150, 150, 150);
    color: white;
    padding: 1% 1%;
}

.ReadMore:hover{
    color: rgb(0, 0, 0);
}

.Noticias:hover{
    border: 1px solid;
    overflow: hidden;
}

.medico:hover{
    scale: 1.1;
}

.Seta1:hover, .Seta2:hover{
    padding: 0% 40%;
    height: 4.5vh;
}

@media screen and (min-width: 760px) and (max-width: 980px) {
    ul{
        height: 10vh;
    }
    .navegar{
        height: contain;
        line-height: 200%;
        width: contain;
        flex-wrap: wrap;
        justify-content: start;
    }
}

@media screen and (min-width: 600px) and (max-width: 760px){

    .navegar{
        display: none;
    }

    .menu{
        display: block;
        position: relative;
        width: 8%;
        height: 40%;
    }

    .linhaMenu{
        background-color: black;
        height: 0.5vh;
        margin-bottom: 4px;
    }
}